*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    min-height: 100vh;
    background: hsl(216, 14%, 85%);
    Font-size: 16px;
    font-family: 'Karla', sans-serif;

}
.container{ 
    width: 500px;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.container .join{
    background-color: #fff;
    padding: 30px ;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.join h1{
    color:hsl(179, 62%, 43%);
    font-size: 16px;
    margin-bottom: 20px;
}
.join h2{
    color:hsl(71, 73%, 46%);
    font-size: 14px;
    margin-bottom: 15px;
}
.join p{
    color: hsl(206, 8%, 67%);
    font-size: 12px;
    line-height: 17px;
}

.container .secound{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex; 
    align-items:flex-start;
    justify-content:space-around;
    border-radius: 0 0 10px 10px;
}
.secound .subscrip{
    background-color:  hsl(179, 62%, 43%);
    padding: 30px;
    width:50%
}
.secound .subscrip h2{
    color:#fff;
    font-size: 15px;
    font-weight: lighter;
    padding-bottom: 15px;
}
.secound .subscrip div{
    color:#fff;
    font-size: 25px;
    padding-bottom: 10px;
}

.secound .subscrip div span{
    color:hsl(180, 46%, 65%);
    font-size: 10px;
    word-spacing: 5px;
    padding-left: 5px;
}
.secound .subscrip p{
    color:#fff;
    font-size: 12px;
    padding-bottom: 15px;
}

.secound .subscrip p{
    color: hsl(180, 68%, 76%);;
    font-size: 12px;
    line-height: 17px;
}
.secound .subscrip button{
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    padding:  10px 60px ;
    border: none;
    border-radius: 5px;
    box-shadow: -5px 5px  hsl(180, 38%, 48%);
}
.secound .why-us{
    background-color:  hsl(179, 62%, 43%); 
    opacity: .7;
    padding: 22px;
    width: 50%;
    
}
.secound .why-us h2{
    color:#fff;
    font-size: 17px;
    font-weight: lighter;
    padding-bottom: 15px;
}
.secound .why-us ul{
    list-style: none;
}
.secound .why-us li{
    color:hsl(180, 68%, 76%);
    font-size: 11px;
    line-height: 17px;
}


@media (max-width:375px) {
    .secound{
        display: flex;
        flex-direction: column;
    }
    .secound .subscrip{
        width: 100%;
    }
    .secound .subscrip button{
        width: 90%;
        margin-left: 10px;
        margin-right: 20px;
    }
    .secound .why-us{
        width: 100%;
    }
}






